.dataOverlay,
.dataName,
.dataLink,
.dataWrapper {
  background-color: transparent;
}

.dataWrapper {
  border: 1px #444444 solid;
  padding: 1rem;
}

.dataOverlay {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-transform: uppercase;
  gap: 2rem;
}

.dataName,
.dataLink {
  margin: 0;
  padding: 5px;
}

.dataLink {
  position: relative;
  opacity: 0.5;
  border-radius: 2%;
  border: 2px solid transparent;
}
