.trackList {
  overflow-y: auto;
  margin-right: 1rem;
  border: 1px #444444 solid;
}

.trackList::-webkit-scrollbar,
.trackList::-webkit-scrollbar-track,
.trackList::-webkit-scrollbar-thumb {
  width: 5px;
}
.trackList::-webkit-scrollbar,
.trackList::-webkit-scrollbar-track {
  background-color: #000;
}

.trackList::-webkit-scrollbar-thumb {
  background-color: #545454;
}
