.genreData {
  color: #fff;
  position: relative;
}

.video {
  width: 100%;
  animation: backAndForth 15.25s linear infinite;
}

@keyframes backAndForth {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.genreWrapper {
  position: absolute;
  top: 45%;
  left: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.genreName {
  text-transform: uppercase;
  font-size: 5rem;
}

.genreWrapper,
.genreName {
  background: transparent;
}
