.navbar,
.logo {
  background-color: transparent;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  min-height: 10vh;
}

.logo {
  position: absolute;
  top: 10%;
  left: calc(50% - 12.5rem);
  padding: 1rem;
  width: 25rem;
  filter: invert(100%);
  animation: opacityAnim 2s ease-in;
}

@keyframes opacityAnim {
  0% {
    opacity: 0%;
    box-shadow: 0 0 50px 20px white;
  }
  80% {
    opacity: 30%;
    box-shadow: 0 0 50px 20px white;
  }
  100% {
    opacity: 70%;
    box-shadow: 0 0 0 0 white;
  }
}

.logo:hover {
  opacity: 100%;
}
