.navbar,
.logo,
.navList,
.navListHome,
.navListAbout {
  background-color: transparent;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}

.logo {
  width: 7rem;
  padding: 1rem;
  filter: invert(100%);
  opacity: 40%;
  margin-left: 30rem;
}

.navList {
  position: absolute;
  left: 70%;
  list-style: none;
  display: flex;
  gap: 5rem;
  justify-content: flex-end;
  font-size: 1.5rem;
}

.navList * {
  text-decoration: none;
  color: #9b9b9b;
}
